body {
    background-color: hsl(233, 47%, 7%);
}

.card-component {
    background-color: hsl(244, 38%, 16%);
    height: 22.5rem;
    width: 54.688rem;
    border-radius: 10px;
    position: relative;
    left: 230px; top: 105px;
}

h1 {
    color:hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
}

.summary {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 20px;
}

.card-info {
    position: absolute;
    padding: 35px 53px;
}

.stats  {
    color: hsl(0, 0%, 100%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding-top: 30px;
    word-spacing: 70px;
}

.stats-type {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-top: 5px;
    word-spacing: 47px;
}

.meeting-img {
    height: 22.5rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 440px; top:0px;
    filter: brightness(70%);
}

.img-layer {
    background-color:hsl(277, 64%, 61%);
    height: 22.5rem;
    width: 27.25rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: 440px; top:0px;
    opacity: 0.55;
}

.attribution {
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 600px; left: 495px;
}

/*Code to make the card mobile friendly.*/
@media (max-width: 500px) {
    .card-component {
        height: 48rem;
        width: 24rem;
        position: relative;
        left: 10px; top: 110px;
    }

    .card-info {
        position: absolute;
        padding: 100% 5%;
        text-align: center;
    }

    .meeting-img {
        width: 24rem;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
        position: absolute;
        left: 0px; top: 0px;
    }
    
    .img-layer {
        width: 24rem;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
        position: absolute;
        left: 0px; top: 0px;
    }

    .summary {
        font-size: 15px;
        line-height: 23px;
    }

    .attribution {
        position: absolute;
        top: 900px; left: 45px;
    }
}